In [13]:
import pandas as pd
import json

In [14]:
with open('wttj_database_bronze_with_duplicates_corrige.json', 'r', encoding='utf-8') as file:
    data = json.load(file)

In [15]:
# Utiliser json_normalize pour créer un DataFrame en formatant le fichier
df = pd.json_normalize(data)

In [16]:
# Appliquez la fonction à chaque élément de chaque colonne
df = df.apply(lambda x: x.map(lambda y: ','.join(map(str, y)) if isinstance(y, list) else y))

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6002 entries, 0 to 6001
Data columns (total 36 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   job_title                     6002 non-null   object
 1   contract_type                 6002 non-null   object
 2   salary                        6002 non-null   object
 3   company                       6002 non-null   object
 4   location                      6002 non-null   object
 5   remote                        6002 non-null   object
 6   experience                    3816 non-null   object
 7   education_level               2480 non-null   object
 8   publication_date              6002 non-null   object
 9   sector                        5967 non-null   object
 10  company_size                  5899 non-null   object
 11  creation_date                 5859 non-null   object
 12  address                       0 non-null      object
 13  average_age_of_employees      4912 non-null   object
 14  turnover_in_millions          3040 non-null   object
 15  proportion_female             3873 non-null   object
 16  proportion_male               0 non-null      object
 17  programming_languages         1837 non-null   object
 18  databases                     660 non-null    object
 19  data_analyze                  74 non-null     object
 20  big_data_tools                487 non-null    object
 21  ML_and_data_mining            179 non-null    object
 22  data_viz                      475 non-null    object
 23  statistics                    0 non-null      object
 24  cloud_computing               1305 non-null   object
 25  dev_tools                     2085 non-null   object
 26  OS                            248 non-null    object
 27  big_data_and_processing       41 non-null     object
 28  automation_and_orchestration  1092 non-null   object
 29  IaC                           381 non-null    object
 30  security_and_network          40 non-null     object
 31  virtualization                51 non-null     object
 32  containers                    758 non-null    object
 33  collaboration                 1153 non-null   object
 34  skills                        2558 non-null   object
 35  raw_description               6002 non-null   object
dtypes: object(36)
memory usage: 1.6+ MB

In [18]:
df_no_duplicates = df[~df.duplicated()]

In [19]:
df_no_duplicates.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3947 entries, 0 to 5939
Data columns (total 36 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   job_title                     3947 non-null   object
 1   contract_type                 3947 non-null   object
 2   salary                        3947 non-null   object
 3   company                       3947 non-null   object
 4   location                      3947 non-null   object
 5   remote                        3947 non-null   object
 6   experience                    2428 non-null   object
 7   education_level               1639 non-null   object
 8   publication_date              3947 non-null   object
 9   sector                        3928 non-null   object
 10  company_size                  3886 non-null   object
 11  creation_date                 3864 non-null   object
 12  address                       0 non-null      object
 13  average_age_of_employees      3179 non-null   object
 14  turnover_in_millions          2089 non-null   object
 15  proportion_female             2666 non-null   object
 16  proportion_male               0 non-null      object
 17  programming_languages         1180 non-null   object
 18  databases                     405 non-null    object
 19  data_analyze                  45 non-null     object
 20  big_data_tools                251 non-null    object
 21  ML_and_data_mining            108 non-null    object
 22  data_viz                      349 non-null    object
 23  statistics                    0 non-null      object
 24  cloud_computing               806 non-null    object
 25  dev_tools                     1308 non-null   object
 26  OS                            198 non-null    object
 27  big_data_and_processing       24 non-null     object
 28  automation_and_orchestration  751 non-null    object
 29  IaC                           247 non-null    object
 30  security_and_network          34 non-null     object
 31  virtualization                43 non-null     object
 32  containers                    498 non-null    object
 33  collaboration                 747 non-null    object
 34  skills                        1559 non-null   object
 35  raw_description               3947 non-null   object
dtypes: object(36)
memory usage: 1.1+ MB

In [20]:
df_no_duplicates.to_json('wttj_database_bronze_with_no_duplicates_corrige.json', orient='records', lines=True)

In [21]:
df

,job_title,contract_type,salary,company,location,remote,experience,education_level,publication_date,sector,...,OS,big_data_and_processing,automation_and_orchestration,IaC,security_and_network,virtualization,containers,collaboration,skills,raw_description
0,Développeur Data Scala/Spark/Java (H/F),CDI,Non spécifié,Cyllene,"Paris, Pessac",Télétravail fréquent,> 4,None,2024-01-31,"Application mobile, SaaS / Cloud Services, Big...",...,None,None,"docker/kubernetes,",None,None,None,"docker/kubernetes,,docker/kubernetes,","jira,scrum/jira","cloud),clouds,cloud,,cloud.participer",Descriptif du posteDans le cadre de notre croi...
1,Consultant.e Data Engineer Expérimenté.e,CDI,45K à 60K €,The Information Lab,Paris,Télétravail fréquent,None,None,2024-01-17,"Logiciels, IT / Digital, Big Data",...,None,None,(chef,None,None,None,None,None,None,Descriptif du posteQui sommes-nous ?Véritables...
2,Cell Performance Data Engineer (F/H),CDI,Non spécifié,ACC - Automotive Cells Company,Bruges,Télétravail non autorisé,None,None,2024-02-20,"Ingénieries Spécialisées, Energie, Automobile",...,None,None,None,None,None,None,None,None,None,Descriptif du posteThe main focus of this posi...
3,MLOps Engineer,CDI,Non spécifié,Weborama,Levallois-Perret,Télétravail fréquent,> 2,Bac +5 / Master,2024-02-20,"Intelligence artificielle / Machine Learning, ...",...,None,None,None,None,None,None,None,None,"ml,mlops,auto-ml,,ml.",Descriptif du posteL’équipe Data ScienceVous r...
4,DATA ENGINEER - H/F,Stage,Non spécifié,Banque de France,Paris,Télétravail non autorisé,> 6 mois,None,2024-02-20,"Banque, Assurance",...,None,None,None,None,None,None,None,None,None,Descriptif du posteDans le cadre de son plan d...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5997,Data BI Developer M/F CDI,CDI,Non spécifié,ORIS,Lyon,Télétravail occasionnel,> 2,None,2024-01-09,"Intelligence artificielle / Machine Learning, ...",...,None,None,None,None,None,None,None,teams,None,Descriptif du posteAs a Data Business Intellig...
5998,Architecte Données,CDD / Temporaire(36 mois),Non spécifié,Direction du numérique des ministères sociaux,Paris,Télétravail fréquent,> 5,Bac +5 / Master,2024-01-23,"Logiciels, Administration publique",...,None,None,None,None,None,None,None,None,None,Descriptif du posteLe Data Office de la DNUM r...
5999,Back-end manager H/F/NB,CDI,Non spécifié,Ipsos,Paris,Télétravail occasionnel,None,None,2024-01-17,"Stratégie, Big Data, Marketing / Communication",...,None,cassandra,ansible.our,None,None,None,"docker,",teams,None,Descriptif du posteIpsos Synthesio is a leadin...
6000,Agile Program Manager,CDI,Non spécifié,Dynatrace,Vienna,Télétravail fréquent,> 2,None,2024-02-06,"Logiciels, IT / Digital, SaaS / Cloud Services",...,None,None,None,None,None,None,None,None,None,Descriptif du posteJob DescriptionAs Agile Pro...
6001,Senior Account Executive,CDI,Non spécifié,Heex Technologies,Paris,Télétravail occasionnel,None,None,2024-01-29,"Logiciels, Intelligence artificielle / Machine...",...,None,None,None,None,None,None,None,"teams,teams",None,Descriptif du posteAbout the JobAs a Senior Ac...